{% extends "boards/base.html" %}

{% block content %}
<div class="page">
  <div class="header">
      <h1 class="page-title">Meus Quadros</h1>
      <a href="{% url 'boards:create_board' %}" class="btn-primary">+ Novo quadro</a>
  </div>

  {% if boards %}
      <div class="boards-grid">
          {% for board in boards %}
          <div class="board-card">
              <h2>{{ board.title }}</h2>
              <a class="btn-secondary" href="{% url 'boards:detail' board.pk %}">Abrir quadro</a>
          </div>
          {% endfor %}
      </div>
  {% else %}
      <p class="empty-text">Você ainda não possui quadros cadastrados.</p>
  {% endif %}
</div>
{% endblock %}
